body, .info {
	font-family: 'Source Sans Pro' !important;
	
	color: #333333 !important;
}

body, .info, strong {
  font-weight: normal !important;
  font-size: 15px !important;
  line-height: 20px !important;
}

.info.legend.leaflet-control{
  font-size: 13px !important;
}

.legend i {
  line-height: 20px !important;
  width: 20px;
  height: 20px;
}

i.fa.fa-globe {
  margin-right: 0px !important;
}

.leaflet-control-attribution{
  display: none;
}

.content-wrapper {
  background-color: #fff;
}

.content {
  padding: 0;
}

.nav-tabs-custom>.nav-tabs>li.active{
  border-top-color: #444;
}

a:active, a:focus, a:hover{
  color: #0078A8;
  cursor: pointer;
}




